<div class="news-content">
  <mat-progress-spinner
    *ngIf="loading"
    [value]="progress"
    [mode]="mode"
    class="spinner"
  ></mat-progress-spinner>
  <div *ngIf="!loading && news.hits.length" class="news-list">
    <ng-container *ngFor="let item of news.hits">
      <news-card class="news-card" [item]="item"></news-card>
    </ng-container>
  </div>
  <mat-paginator
    (page)="getNewsList($event)"
    [hidePageSize]="true"
    [length]="news.nbHits"
    [pageSize]="20"
    class="paginator"
  ></mat-paginator>
</div>
