<div class="wrapper">
  <header class="header">
    <div routerLink="/main" class="header-title">
      <img [src]="ImgSrc" />
      <span>Hacker News</span>
    </div>

    <nav class="header-nav">
      <span (click)="goToMicroFrontend()">test</span>
      <span>past</span>
      <span>comments</span>
      <span>ask</span>
      <span>show</span>
      <span>jobs</span>
      <span>submit</span>
    </nav>
  </header>
  <main class="main"><router-outlet></router-outlet></main>
  <footer class="footer"></footer>
</div>
