$font: 'SF UI Display';
$header-background-color: linear-gradient(to right, #4464b5, #567fe8);
$footer-background-color: linear-gradient(to right, #4464b5, #567fe8);
$header-text: rgba(255, 255, 255, 0.877);
$header-text-hover: white;
$card-background-color: #edf0f7;
$card-text: #455265;
